#canvasContainer {
    width: 500px;
    margin: auto;
}

#drawingField {
    border : 1px solid lightgray;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px grey;
}

#panelLeft {
    float: left;
    text-align: center;
    border-radius: 6px;
    background-color:lightblue;
    height: auto;
    width: auto;
}

.logo:hover{
	box-shadow: 2px 2px 2px grey;
}

.popup{
    visibility: hidden;
    position: absolute;
    border-radius: 6px;
    background-color:grey;
    display:inline-block;
    height: auto;
    border: 1px solid Black;
    width: auto;
}


.divlogo:hover .popup{
    visibility: visible;
}

input:focus {
    outline: none;
}
