#canvasContainer {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 0;
}

#drawingField {
    display: inline;
    border : 1px solid lightgray;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px grey;
}

#panelLeft {
    z-index: 1;
    position: absolute;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 20%;
    border-radius: 1em;
    background-color: lightgray;
    text-align: center;
}